{{ form_start(form) }}
<div>
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.email) }}
    </div>
    <div class="col">
        {{ form_row(form.submit) }}
    </div>
</div>
{{ form_end(form) }}