{%extends 'admin/adminDashboard.html.twig'%}

{%block body%}
    {{ form_start(form) }}
    <div class="row flex flex-col gap-5 w-4/12 mx-auto py-6">
        <div class="col">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col">
            {{ form_row(form.lastName) }}
        </div>
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.phoneNumber) }}
        </div>
        <div class="col">
            {{ form_row(form.cnp) }}
        </div>
        <div class="col">
            {{ form_row(form.password) }}
        </div>
        <div class="col mx-auto">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{%endblock%}