{%extends 'base.html.twig'%}

{%block body%}
{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col">
        {{ form_row(form.lastName) }}
    </div>
    <div class="col">
        {{ form_row(form.email) }}
    </div>
    <div class="col">
        {{ form_row(form.phoneNumber) }}
    </div>
</div>
{{ form_end(form) }}
{%endblock%}